hr {
    margin-top: 3rem;
    border: none;
    height: 0.2rem;
    color: grey;
    background-color: grey;
}

.card-body {
    position: relative;
}

#btn-override {
    display: block;
    margin: auto;
    /* margin-bottom: -20px; */
}